.hero {
  height: 85vh;
  width: 100%;
  background-color: #275DAD;
  color: #FBFEF9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 65%;
  padding: 0 5rem;
}

.grid {
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.button {
  height: 5vh;
  width: 10vw;
  background-color: #FCA17D;
  border: none;
  border-radius: 3px;
  color: #FBFEF9;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.button:hover {
  background-color: #fcc6b0;
  transition: 0.3s ease-out;
}
